.metadata/
Conception/.project
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdt
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fnm
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
Developpement/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
Developpement/EditeurTexte/.classpath
Developpement/EditeurTexte/.gitignore
Developpement/EditeurTexte/.project
Developpement/EditeurTexte/.settings/org.eclipse.jdt.core.prefs
Developpement/.recommenders/
